body {
    background-color: #ffffff;
    padding-top:0px;
}


header {
    background-color: #808080;
    height: 100px;
    position: fixed;
    width: 1121px;
    top: 0%;
    left: 0%;
}

article {
    background-color: #b4b4b4;
    height: 551px;
    position: fixed;
    width: 141px;
    top: 102px;
    left: 0%;
}